$util.qr($ctx.args.input.put("id", $util.autoId()))
$util.qr($ctx.args.input.put("owner", $ctx.identity.username))
$util.qr($ctx.args.input.put("createdAt", $util.time.nowISO8601()))
$util.qr($ctx.args.input.put("updatedAt", $util.time.nowISO8601()))

#set( $PutItemRequest = {
  "version": "2018-05-29",
  "operation": "PutItem",
  "key": {"id": $util.dynamodb.toDynamoDB($ctx.args.input.id)},
  "attributeValues": $util.dynamodb.toMapValues($ctx.args.input)
})

$util.toJson($PutItemRequest)